<h1><center>CSCI - 6409 - The Process of Data Science - Fall 2022</h1></center>
<h1><center>Project: Supermarket sales forecasting with sentiment analysis indicators and technical indicators</h1></center>

<b>Akshay Sharma</b>  
B00925863  


<b>Mayuri Chilekar</b>  
B00925385  

<b>David Yabar</b>  
B00902339

<b>Deepak Hariharan</b>  
B00928025

Building Webscrapper using snscrape library

In [ ]:
pip install snscrape

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
import datetime
import pandas as pd

In [ ]:
date_records = pd.read_csv("/content/drive/MyDrive/Process_of_DataScience/Tweets/test_dates.csv")
date_records.head()

   Unnamed: 0        Date
0           0  2012-11-02
1           1  2012-11-09
2           2  2012-11-16
3           3  2012-11-23
4           4  2012-11-30

In [ ]:
dates_col = date_records["Date"]
required_dates = dates_col[:]

Here we have use snscrape library to extract the tweets from Twitter. We are extracting 1000 tweets for each date.

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
keyword = "buy OR purchase OR sales OR electronics OR grocery OR furniture OR automatives "
query = keyword + "lang:en"
for d in required_dates:
  tweets = []
  file = 'tweet.csv'
  if(os.path.exists(file) and os.path.isfile(file)):
    os.remove(file)
  print(f"***Executing for date:{d}***")
  curr_date = datetime.datetime.strptime(d, '%Y-%m-%d').date()
  next_date = curr_date + datetime.timedelta(days=1)
  for i,tweet in enumerate(sntwitter.TwitterSearchScraper(keyword + 'since:'+d+' until:'+next_date.strftime('%Y-%m-%d')+' lang:en').get_items()):
    if i > 1000:
      break
    else:
      tweets.append([tweet.date, tweet.id, tweet.url, tweet.user.username, tweet.user.location, tweet.content, tweet.likeCount, tweet.retweetCount])
  df = pd.DataFrame(tweets,columns=['Date','Id','URL','username',"Location",'tweet','num_of_likes','num_of_retweet'])
  df["Date"] = df['Date'].dt.strftime('%Y.%m.%d')
  df.to_csv('tweet.csv',mode='a')
  df.to_csv("/content/drive/MyDrive/Process_of_DataScience/Tweets/tweet("+d+").csv",encoding='utf-8')

QUERY buy OR purchase OR sales OR electonics OR grocery OR furniture OR automatives lang:en
***Executing for date:2012-11-02***
***Executing for date:2012-11-09***
***Executing for date:2012-11-16***
***Executing for date:2012-11-23***
***Executing for date:2012-11-30***
***Executing for date:2012-12-07***
***Executing for date:2012-12-14***
***Executing for date:2012-12-21***
***Executing for date:2012-12-28***
***Executing for date:2013-01-04***
***Executing for date:2013-01-11***
***Executing for date:2013-01-18***
***Executing for date:2013-01-25***
***Executing for date:2013-02-01***
***Executing for date:2013-02-08***
***Executing for date:2013-02-15***
***Executing for date:2013-02-22***
***Executing for date:2013-03-01***
***Executing for date:2013-03-08***
***Executing for date:2013-03-15***
***Executing for date:2013-03-22***
***Executing for date:2013-03-29***
***Executing for date:2013-04-05***
***Executing for date:2013-04-12***
***Executing for date:2013-04-19***
***Executing for date:2013-04-26***
***Executing for date:2013-05-03***
***Executing for date:2013-05-10***
***Executing for date:2013-05-17***
***Executing for date:2013-05-24***
***Executing for date:2013-05-31***
***Executing for date:2013-06-07***
***Executing for date:2013-06-14***
***Executing for date:2013-06-21***
***Executing for date:2013-06-28***
***Executing for date:2013-07-05***
***Executing for date:2013-07-12***
***Executing for date:2013-07-19***
***Executing for date:2013-07-26***

In [ ]:
data = pd.read_csv("tweet.csv")

In [ ]:
data

,Unnamed: 0,Date,Id,URL,username,Location,tweet,num_of_likes,num_of_retweet
0,0.0,2010.07.30,19949422031,https://twitter.com/Jae_KP/status/19949422031,Jae_KP,Follow IG| @jae_kp_,Negro grocery shopping at family dollar! Dang!,0,0
1,1.0,2010.07.30,19949421188,https://twitter.com/missIcyent/status/19949421188,missIcyent,On your mind.😘,Somebody buy me BOBs cd!\n...imz,0,0
2,2.0,2010.07.30,19949420328,https://twitter.com/mortgageporter/status/1994...,mortgageporter,"Seattle, Washington",unless my hubby stops at the grocery store on ...,0,0
3,3.0,2010.07.30,19949420042,https://twitter.com/JasenMarks/status/19949420042,JasenMarks,NaN,eBay purchase set up temporarily on my work be...,0,0
4,4.0,2010.07.30,19949419265,https://twitter.com/heatfeedr/status/19949419265,heatfeedr,"Miami, FL",Miami Heat Sales Dept. Resigns En Masse To Spe...,0,0
...,...,...,...,...,...,...,...,...,...
1998,996.0,2010.08.06,20507758693,https://twitter.com/Eyzo/status/20507758693,Eyzo,Toronto,"The prime issue is that if the card is good, l...",0,0
1999,997.0,2010.08.06,20507756883,https://twitter.com/heynataa/status/20507756883,heynataa,Los Angeles,soooo when i buy a dog im not going to pick up...,0,0
2000,998.0,2010.08.06,20507753458,https://twitter.com/MonsteerKelly/status/20507...,MonsteerKelly,NaN,People should i buy a Bag or a Backpack?,0,0
2001,999.0,2010.08.06,20507753374,https://twitter.com/LaresNYC/status/20507753374,LaresNYC,NYC,Is trying to understand...why consumer's are a...,0,0
2002,1000.0,2010.08.06,20507751458,https://twitter.com/EdwardsKim/status/20507751458,EdwardsKim,Chicago,"Gotta use SPRAWL shorts for gym, cause @suffer...",0,0